[Desktop Entry]
Name=SID
Comment=Integrated Development Environment for Python
Exec=/home/pi/simplesi_scratch_handler/sid.sh
Icon=/usr/share/pixmaps/idle.xpm
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
