[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=./scratchgpio/scratchgpio3.sh
Icon=scratch
Terminal=false
Name=ScratchGPIO3
Comment= Programming system and content development tool
Categories=Application;Education;Development;
MimeType=application/x-scratch-project
