[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=./scratchgpio5/scratchgpio5.sh
Icon=scratch
Terminal=false
Name=ScratchGPIO 5
Comment= Programming system and content development tool
Categories=Application;Education;Development;
MimeType=application/x-scratch-project
